<template>
    <v-card>
        <v-toolbar color="cyan" dark dense class="mt-2">
            <v-toolbar-title>Categories</v-toolbar-title>
            <v-list>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Category</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-toolbar>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                categories: {}
            }
        },
        create() {
            axios.get('/api/category')
                .then(res => this.categories = res.data.data)
        }
    }
</script>

<style scoped>

</style>