<template>
    <v-card>
        <v-container fluid>
            <v-card-title>
                <div>
                    <div class="headline">
                        {{ data.title }}
                    </div>
                    <span class="grey--text">{{ data.user }} said {{ data.created_at }}</span>
                </div>
                <v-spacer></v-spacer>
                <v-btn color="teal" dark> {{  }}Replies</v-btn>
            </v-card-title>

            <v-card-text v-html="body"></v-card-text>
        </v-container>

    </v-card>
</template>

<script>
export default {
    props:['data'],
    computed: {
        body() {
            return md.parse(this.data.body)
        }
    }
}
</script>